/* the entire app is styled using TailwindCSS by default */
@import 'tailwindcss';

:root {
    /* these are css variables, must use 2 dashes, call using var(--var-name) */
    --background: #000000;
    --foreground: #ffffff;
}

body {
    background: var(--background);
    color: var(--foreground);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 1rem 1em 1em;
    height: 100dvh;
    /* allow for scrolling */
    overflow-y: scroll;

    /* hide IE & Edge scrollbar */
    -ms-overflow-style: none;

    /* Firefox: hide scrollbar */
    scrollbar-width: none;
}

/* Chrome, Safari, Opera too */
body::-webkit-scrollbar {
  display: none;
}
